%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{deps, [
        {envy,    ".*", {git, "https://github.com/markan/envy.git",          {branch, "master"}}},
        {erlcloud,".*", {git, "https://github.com/chef/erlcloud.git",        {branch, "lbaker/presigned-headers"}}}
       ]}.

{profiles, [{ test, [
                     {deps, [meck]},
                     {erl_opts, [nowarn_export_all]}
                    ]
            }]}.

{erl_opts, [debug_info]}. %, warnings_as_errors]}.
