%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{deps, [
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse",
                        {branch, "master"}}},
    {envy, ".*", {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
  ]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
{dev_only_deps,
  [
    {meck, "0.8.2", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
  ]}.

{erl_opts, [debug_info]}.
