%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{deps, [
    {ibrowse, ".*", {git, "git://github.com/opscode/ibrowse",
                        {tag, "v4.0.1.1"}}},
    {envy, ".*", {git, "git://github.com/manderson26/envy.git", {branch, "master"}}}
  ]}.

%% Add dependencies that are only needed for development here. These
%% dependencies will be hidden from upstream projects using this code
%% as a dependency.
{dev_only_deps,
  [
    {meck, ".*",  {git, "git://github.com/eproxus/meck.git", {branch, "master"}}}
  ]}.

{erl_opts, [debug_info]}.
{use_edown, false}.
